<div class="header shadow-bottom">
    <div class="container">
        <div class="navigation navigation-left hidden-xs">
            <ul class="navigation-items">
                <li data-ng-repeat="item in trans[locale].nav track by $index">
                    <a data-ng-href="#!{{routes[item.name]}}"
                       data-ng-bind="item.title"></a>
                </li>
            </ul>
        </div>
        <div class="navigation navigation-right hidden-sm hidden-md hidden-lg">
            <ul class="navigation-items">
                <li class="dropdown">
                    <a href=""
                       class="menu-toggle navigation-item"
                       data-toggle="menu">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="navigation navigation-search navigation-right hidden-xs hidden-sm">
            <form action=""
                  class="form search-form">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text"
                               class="form-control search-control">
                        <span class="glyphicon glyphicon-search input-group-addon"></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="navigation navigation-logo text-align-center hidden-xs hidden-sm">
            <a href="#!/">Kinoteka</a>
        </div>
        <div class="navigation navigation-logo text-align-left hidden-md hidden-lg">
            <a href="#!/">Kinoteka</a>
        </div>
        <div class="navigation navigation-menu hidden hidden-md hidden-lg shadow-bottom">
            <ul class="menu">
                <li data-ng-repeat="item in trans[locale].nav track by $index">
                    <a data-ng-href="#!{{routes[item.name]}}"
                       data-ng-bind="item.title"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
