<div class="header shadow-bottom">
    <div class="container">
        <div class="navigation navigation-left hidden-xs">
            <ul class="navigation-items">
                <li data-ng-repeat="item in trans[locale].nav track by $index">
                    <a data-ng-href="#!{{routes[item.name]}}"
                       data-ng-bind="item.title"></a>
                </li>
            </ul>
        </div>
        <div class="navigation navigation-right hidden-xs">
            <ul class="navigation-items">
                <li class="dropdown"><a href=""
                                        class="dropdown-toggle navigation-item"
                                        data-toggle="dropdown">Login</a>
                    <ul class="dropdown-menu">
                        <li><a href="">Login</a></li>
                        <li><a href="">Register</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="navigation navigation-search navigation-right hidden-xs">
            <form action=""
                  class="form search-form">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text"
                               class="form-control">
                        <span class="glyphicon glyphicon-search input-group-addon"></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="navigation navigation-logo text-align-center">
            <a href="#!/">Kinoteka</a>
        </div>
    </div>
</div>
