<div class="header shadow-bottom">
    <div class="container full-height">
        <div class="menu menu-left hidden-xs">
            <ul class="menu-items">
                <li data-ng-repeat="item in trans[locale].menu track by $index">
                    <a class="menu-item"
                       data-ng-href="#!{{routes[item.name]}}"
                       data-ng-bind="item.title"></a>
                </li>
            </ul>
        </div>
        <div class="menu menu-right hidden-xs">
            <ul class="menu-items">
                <li class="dropdown"><a href=""
                                        class="dropdown-toggle menu-item"
                                        data-toggle="dropdown">Login</a>
                    <ul class="dropdown-menu">
                        <li><a href="">Login</a></li>
                        <li><a href="">Register</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="menu menu-search menu-right hidden-xs">
            <form action=""
                  class="search-form">
                <input type="text"
                       class="form-control">
            </form>
        </div>
        <div class="menu menu-logo text-align-center">
            <a href="#!/">Kinoteka</a>
        </div>
    </div>
</div>
