<div class="row">
  <div class="col-xs-2 col-xs-offset-10">
    <button class="btn btn-primary pull-right"
      data-ng-click="users.load()">Users reload</button>
  </div>
</div>
<div class="row">
  <form data-ng-submit="users.create(form)"
    name="form"
    class="col-xs-6 col-xs-offset-3">
    <div class="form-group">
      <label for="name">Name:</label>
      <input id="name"
        type="text"
        name="name"
        data-ng-model="newUser.name"
        class="form-control">
    </div>
    <div class="form-group">
      <label for="surname">Surname:</label>
      <input id="surname"
        type="text"
        name="surname"
        data-ng-model="newUser.surname"
        class="form-control">
    </div>
    <div class="form-group">
      <label for="login">Login:</label>
      <input id="login"
        type="text"
        name="login"
        data-ng-model="newUser.login"
        class="form-control">
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <input id="age"
        type="number"
        name="age"
        data-ng-model="newUser.age"
        class="form-control">
    </div>
    <div class="form-group">
      <input id="submit"
        type="submit"
        name="submit"
        class="btn btn-primary"
        value="Add">
    </div>
  </form>
</div>
<div class="row"
  data-ng-show="users.length">
  <div class="col-xs-12">
    <table class="table" data-ng-class="{'loading': users.loading, 'loaded': !users.loading}">
      <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Login</th>
        <th>Age</th>
      </thead>
      <tbody>
        <tr data-ng-repeat="u in users track by $index">
          <td><p data-ng-bind="u.id"></p></td>
          <td><p data-ng-bind="u.name"></p></td>
          <td><p data-ng-bind="u.surname"></p></td>
          <td><p data-ng-bind="u.login"></p></td>
          <td><p data-ng-bind="u.age"></p><span class="remove-user" data-ng-click="users.delete(u)">X</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div ui-view="submain"></div>
