<div class="header shadow-bottom">
    <div class="container">
        <div class="navigation navigation-left hidden-xs hidden-sm">
            <ul class="navigation-items">
                <li data-ng-repeat="item in trans[locale].nav track by $index">
                    <a data-ng-init="url = ROUTES.convert(ROUTES[item.name])" data-ng-href="{{url}}"
                       data-ng-bind="item.title"
                       data-ng-class="{'active': isActive(url)}"></a>
                </li>
            </ul>
        </div>
        <div class="navigation navigation-right hidden-xs hidden-md hidden-lg">
            <ul class="navigation-items">
                <li data-ng-repeat="item in trans[locale].nav track by $index">
                    <a data-ng-init="url = ROUTES.convert(ROUTES[item.name])" data-ng-href="{{url}}"
                            data-ng-bind="item.title"
                            data-ng-class="{'active': isActive(url)}"></a>
                </li>
            </ul>
        </div>
        <div class="navigation navigation-right"
        data-ng-init="showMenu=false">
            <ul class="navigation-items">
                <li>
                    <a href=""
                       data-ng-bind="'Login'"
                       class="menu-toggle"
                       data-ng-class="{'active': isActive(url)}"
                       data-ng-mouseover="showMenu=true"
                       data-ng-mouseleave="showMenu=false"></a>
                </li>
            </ul>
            <ul class="menu" data-ng-if="showMenu" style="position: absolute; top: 100%; right: 0; list-style-type:
            none; display: block; font-size: 20px;">
                <li>
                    <a href="" style="display: block; background-color: #F0F0EF">Login</a>
                </li>
                <li>
                    <a href="" style="display: block; background-color: #F0F0EF">Resiter</a>
                </li>
            </ul>
        </div>
        <div class="navigation navigation-right navigation-search">
            <form action=""
                  class="form navigation-form hidden-xs hidden-sm">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               data-ng-model="homeFilter"
                               placeholder="Filter...">
                        <span class="glyphicon glyphicon-search input-group-addon"></span>
                    </div>
                </div>
            </form>
            <ul class="navigation-items hidden-sm hidden-md hidden-lg">
                <li class="dropdown">
                    <a href=""
                       class="menu-toggle navigation-item glyphicon glyphicon-menu-hamburger"
                       data-toggle=".navigation-dropdown-menu">
                    </a>
                </li>
            </ul>
        </div>
        <div class="navigation navigation-logo text-align-center hidden-xs hidden-sm">
            <a href="#!/">Kinoteka</a>
        </div>
        <div class="navigation navigation-logo navigation-left text-align-left hidden-md hidden-lg">
            <a href="#!/">Kinoteka</a>
        </div>
        <div class="navigation navigation-dropdown-menu hidden hidden-md hidden-lg shadow-bottom">
            <ul class="menu">
                <li data-ng-repeat="item in trans[locale].nav track by $index">
                    <a data-ng-init="url = ROUTES.convert(ROUTES[item.name])" data-ng-href="{{url}}"
                       data-ng-bind="item.title"
                       data-ng-class="{'active': isActive(url)}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
