<div class="header shadow-bottom">
    <div class="container hidden-sm">
        <div class="navigation navigation-left hidden-xs hidden-sm">
            <ul class="navigation-items">
                <li data-ng-repeat="item in trans[locale].nav track by $index">
                    <a data-ng-init="url = ROUTES.convert(ROUTES[item.name])" data-ng-href="{{url}}"
                       data-ng-bind="item.title"
                       data-ng-class="{'active': isActive(url)}"></a>
                </li>
            </ul>
        </div>
        <div class="navigation navigation-right hidden-xs hidden-md hidden-lg">
            <ul class="navigation-items">
                <li data-ng-repeat="item in trans[locale].nav track by $index">
                    <a data-ng-init="url = ROUTES.convert(ROUTES[item.name])" data-ng-href="{{url}}"
                       data-ng-bind="item.title"
                       data-ng-class="{'active': isActive(url)}"></a>
                </li>
            </ul>
        </div>
        <div class="navigation navigation-right navigation-search">
            <form action=""
                  class="form navigation-form hidden-xs hidden-sm">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               data-ng-model="homeFilter"
                               placeholder="Filter...">
                        <span class="glyphicon glyphicon-search input-group-addon"></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="navigation navigation-logo text-align-center hidden-xs hidden-sm">
            <a href="#!/">Kinoteka</a>
        </div>
    </div>

    <!--Showed only on the small resolutions-->
    <div class="container-fluid hidden-md hidden-lg">
        <div class="navigation navigation-logo navigation-left text-align-left">
            <a href="#!/">Kinoteka</a>
        </div>
        <div class="navigation navigation-right">
            <ul class="navigation-items">
                <li data-ng-repeat="item in trans[locale].nav track by $index"
                    class="hidden-xs">
                    <a data-ng-init="url = ROUTES.convert(ROUTES[item.name])" data-ng-href="{{url}}"
                       data-ng-bind="item.title"
                       data-ng-class="{'active': isActive(url)}"></a>
                </li>
                <li class="dropdown hidden-sm hidden-md hidden-lg">
                    <a href=""
                       class="menu-toggle navigation-item glyphicon glyphicon-menu-hamburger"
                       data-toggle=".navigation-dropdown-menu">
                    </a>
                </li>
            </ul>
        </div>
        <div class="navigation navigation-dropdown-menu invisible">
            <ul class="menu">
                <li>
                    <form action=""
                          class="form navigation-form search-form">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text"
                                       class="form-control"
                                       data-ng-model="homeFilter"
                                       placeholder="Filter...">
                                <span class="glyphicon glyphicon-search input-group-addon"></span>
                            </div>
                        </div>
                    </form>
                </li>
                <li data-ng-repeat="item in trans[locale].nav track by $index">
                    <a data-ng-init="url = ROUTES.convert(ROUTES[item.name])" data-ng-href="{{url}}"
                       data-ng-bind="item.title"
                       data-ng-class="{'active': isActive(url)}"></a>
                </li>
            </ul>
        </div>
        <div class="navigation navigation-right navigation-search hidden-portrait-xs hidden-xs">
            <form action=""
                  class="form navigation-form">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               data-ng-model="homeFilter"
                               placeholder="Filter...">
                        <span class="glyphicon glyphicon-search input-group-addon"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
