<div class="header shadow-bottom">
    <div class="container">
        <div class="navigation navigation-left hidden-xs">
            <ul class="navigation-items">
                <li data-ng-repeat="item in trans[locale].nav track by $index">
                    <a data-ng-href="#!{{routes[item.name]}}"
                       data-ng-bind="item.title"></a>
                </li>
            </ul>
        </div>
        <div class="navigation navigation-right navigation-search">
            <form action=""
                  class="form navigation-form hidden-xs hidden-sm">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               data-ng-model="homeFilter"
                               placeholder="Filter...">
                        <span class="glyphicon glyphicon-search input-group-addon"></span>
                    </div>
                </div>
            </form>
            <ul class="navigation-items hidden-sm hidden-md hidden-lg">
                <li class="dropdown">
                    <a href=""
                       class="menu-toggle navigation-item glyphicon glyphicon-menu-hamburger"
                       data-toggle="menu">
                    </a>
                </li>
            </ul>
        </div>
        <div class="navigation navigation-logo text-align-center hidden-xs hidden-sm">
            <a href="#!/">Kinoteka</a>
        </div>
        <div class="navigation navigation-logo text-align-left hidden-md hidden-lg">
            <a href="#!/">Kinoteka</a>
        </div>
        <div class="navigation navigation-menu hidden hidden-md hidden-lg shadow-bottom">
            <ul class="menu">
                <li data-ng-repeat="item in trans[locale].nav track by $index">
                    <a data-ng-href="#!{{routes[item.name]}}"
                       data-ng-bind="item.title"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
