<div class="row home">
    <div class="col-xs-12">
        <div class="row section"
             data-ng-repeat="s in sections track by $index">
            <div class="col-xs-12">
                <div class="row section-header">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-6">
                                <h3 data-ng-bind="s.name"></h3>
                            </div>
                            <div class="col-xs-6">
                                <h4>More</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row section-content">
                    <div class="col-xs-12">
                        <div class="row tile-container">
                            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2"
                                 data-ng-repeat="f in s.items | filter:homeFilter">
                                <div class="tile"
                                     data-ng-init="link = '#!' + routes.film + (f.id || f.$index || s.items.indexOf(f));">
                                    <div class="tile-header">
                                        <div class="rating text-align-right">
                                            <span data-ng-bind="f.rating"></span>
                                        </div>
                                        <div class="title">
                                            <a href="{{link}}"
                                               data-ng-bind="f.title">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="tile-content">
                                        <a href="{{link}}">
                                            <div class="cover play">
                                                <span class="glyphicon glyphicon-play-circle"></span>
                                            </div>
                                        </a>
                                        <img src="http://orig00.deviantart.net/cd41/f/2012/067/e/1/iron_man_poster_by_mishalicious-d4s3uqy.png"
                                             alt="This is poster image"
                                             class="img-responsive img-rounded">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
