@screen-lg: 1200px;
@screen-md: 992px;
@screen-sm: 768px;
@screen-xs: 480px;

// @smartphones: ~&quot;only screen and (min-width: @screen-xs)&quot;;
// @tablets: ~&quot;only screen (min-width: @screen-sm)&quot;;
// @laptops: ~&quot;only screen (min-width: @screen-md)&quot;;
// @laptops-lg: ~&quot;only screen (min-width: @screen-lg)&quot;;

@main-container-padding: 15px;
@main-container-width: @screen-xs - @main-container-padding * 2;

@site-background-color: rgba(106, 209, 83, 0.20);

@top-menu-height: 50px;
@top-menu-background-color: white;
