@screen-lg: 1200px;
@screen-md: 992px;
@screen-sm: 768px;
@screen-xs: 480px;

@smartphone: ~"only screen and (min-width: 480px)";
@tablet: ~"only screen and (min-width: 768px)";
@desktop: ~"only screen and (min-width: 992px)";
@desktop-lg: ~"only screen and (min-width: 1200px)";

//Bases
@site-color-base: #166678;
@site-color: @site-color-base;
@site-background-color: #F0F0EF;

@font-size-base: 20px;
@line-height-base: 1.1;

//Borders
@border-light-base: 1px solid fadeout(@site-color-base, 50%);
@border-color-base: fadeout(@site-color-base, 30%);
@border-base: 1px solid @border-color-base;
@border-radius-base: 4px;

//Box shadow
@box-shadow-radius-base: 2px;
@box-shadow-blure-base: 7px;
@box-shadow-color-base: fadeout(@site-color-base, 70%);
@box-shadow-base: 0 3px @box-shadow-blure-base @box-shadow-color-base;

@elements-margin-base: 15px;

@main-container-padding: 15px;
@main-container-width: 100% - @main-container-padding * 2;


//Header
@header-height: 50px;
@header-background-color: white;
@header-padding: 10px;
@header-logo-font-size: 30px;

//Main screen tiles (home page)
@tile-container-width: @main-container-width;
@tile-border-radius: @border-radius-base;
@tile-padding: 5px;
@tile-header-margin-bottom: @tile-padding;
@tile-header-font-size: 20px;
@tile-header-title-font-size: @tile-header-font-size;
@tile-header-rating-font-size: @tile-header-font-size / 2;

@container-top: @header-height;