@screen-lg: 1200px;
@screen-md: 992px;
@screen-sm: 768px;
@screen-xs: 480px;

// @smartphones: ~&quot;only screen and (min-width: @screen-xs)&quot;;
// @tablets: ~&quot;only screen (min-width: @screen-sm)&quot;;
// @laptops: ~&quot;only screen (min-width: @screen-md)&quot;;
// @laptops-lg: ~&quot;only screen (min-width: @screen-lg)&quot;;
@site-default-color: #60BEB3;
@site-background-color: fadeout(@site-default-color, 80%);
@site-color: darken(@site-default-color, 20%);
@site-hover-color: fadeout(@site-default-color, 60%);
@border-color-base: fadeout(@site-default-color, 30%);

@font-size-base: 20px;
@line-height-base: 1.1;
@border-base: 1px solid @border-color-base;

@main-container-padding: 15px;
@main-container-width: 100% - @main-container-padding * 2;

@default-elements-margin: 15px;
@default-border-radius: 4px;

//Header
@header-height: 50px;
@header-background-color: white;
@header-nav-color: fadeout(lighten(@site-color, 30%), 60%);
@header-padding: 10px;
@header-logo-font-size: 30px;

//Main screen tiles (home page)
@tile-container-width: @main-container-width;
@tile-border-radius: @default-border-radius;
@tile-padding: 5px;
@tile-header-margin-bottom: @tile-padding;
@tile-header-font-size: 20px;
@tile-header-title-font-size: @tile-header-font-size;
@tile-header-rating-font-size: @tile-header-font-size / 2;

@container-top: @header-height;