@import (reference) "variables";
@import (reference) "utils";

.header {
  @menu-size-ratio: 0.8;
  @menu__font-size: @header-default-font-size * @menu-size-ratio;
  @menu-item__height: @header-default-height * @menu-size-ratio;

  @site-color-fadeout: 30%;
  @site-color: fadeout(@site-color-base, @site-color-fadeout);

  @link-hover-background-color: fadeout(@site-color-base, 90%);
  @link-hover-color: darken(@site-color-base, 5%);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: @site-color;
  background-color: @header-background-color;
  z-index: @header-z-index-base;
  border-bottom: @border-default;
  line-height: @header-default-line-height;

  .noselect();

  .navigation {
    position: relative;
    z-index: @header-z-index-base - 1;

    &.navigation-logo {
      font-weight: 900;
      z-index: @header-z-index-base - 2;

      a {
        font-family: @header-logo-font;
        font-weight: 100;
        width: auto;
        display: inline-block;
        vertical-align: middle;
        .link-font-size-fixed-height(@header-logo-font-size, @header-default-line-height, @header-default-height);

        color: lighten(@site-color-base, 10%);

        &:hover, &:focus {
          background-color: transparent;
          color: @site-color-base;
        }
      }
    }

    &.navigation-search {
      form.form.navigation-form {
        @navigation-form-margin-vertical: ceil((@header-default-height - @header-default-content-height) / 2);
        margin-top: @navigation-form-margin-vertical;
        margin-bottom: @navigation-form-margin-vertical;

        .form-group {
          margin: 0;
          padding: 0;
          line-height: @header-default-line-height;
          font-size: @header-control-font-size;

          @control-padding-vertical: ceil((@header-default-content-height - @header-default-line-height * @header-control-font-size) / 2) - @border-thiknes-base * 2;
          @control-padding-horizontal: @control-padding-vertical;

          #control-conf-base {
            line-height: @header-default-line-height;
            font-size: @header-control-font-size;
            height: auto;
            padding: @control-padding-vertical @control-padding-horizontal;
            border-radius: @border-radius-base;
            border: @border-default;
          }

          input.form-control {
            #control-conf-base();
            .tran();
            background-color: @header-background-color;

            &:focus, &:active {
              .shadow-base();
            }
          }

          .input-group {
            input.form-control {
              &[type=text]:not(:last-child):nth-child(1) {
                padding-right: @control-padding-horizontal * 2 + @header-control-font-size;
                padding-left: @control-padding-horizontal * 2;
              }
              &[type=text]:not(:first-child):nth-child(1) {
                padding-left: @control-padding-horizontal * 2 + @header-control-font-size;
                padding-right: @control-padding-horizontal * 2;
              }
            }

            .input-group-addon {
              #control-conf-base();
              background-color: transparent;
              position: absolute;
              width: auto;
              border: 1px solid transparent;
              z-index: @header-z-index-base;

              &:last-child {
                right: @border-thiknes-base;
              }

              &:first-child {
                left: @border-thiknes-base;
              }
            }
          }
        }
      }
    }

    &.navigation-menu {
      .tran();
      right: 0;
      left: 0;
      top: 100%;
      position: absolute;
      background-color: @header-background-color;
      //bootstrap purpose
      display: block !important;
      border-bottom: @border-default;
      border-top: @border-default;
      z-index: @header-z-index-base - 2;
      padding: 10px 0;

      ul.menu {
        position: relative;
        left: 0;
        right: 0;
        list-style: none;
        margin: 0;
        padding: 0;

        & > li {
          display: block;
          width: 100%;

          & > a {
            width: 100%;
            .link-font-size-fixed-height(@menu__font-size, @menu-item__height, @menu-item__height);
          }
        }
      }
    }

    //nav utils
    &.navigation-left {
      .pull-left;
    }

    &.navigation-left:first-child {
      margin-left: 0;
    }

    &.navigation-right {
      .pull-right;
    }

    &.navigation-right:first-child {
      margin-right: 0 !important;
    }

    ul.navigation-items {
      .tran();
      list-style: none;
      //display: block;
      padding: 0;
      margin: 0;
      .clearfix();

      & > li {
        display: inline-block;

        & > a {
          .tran();
          display: inline-block;
          color: @site-color;
          line-height: @header-default-line-height;
          font-size: @header-font-size-larger;
          padding: ceil((@header-default-height - @header-default-line-height * @header-font-size-larger) / 2) @gutter-base / 2;

          &:hover, &:focus {
            text-decoration: none;
            color: @link-hover-color;
            background-color: @link-hover-background-color;
          }

          &:visited, &:active {
            text-decoration: none;
          }
        }
      }
    }
  }
}
