@import (reference) "variables";

.home {
  .tile-container {
    .tile {
      position: relative;
      -webkit-animation: apearenes ,2s ease-in-out;
      -o-animation: apearenes .2s ease-in-out;
      animation: apearenes .2s ease-in-out;

      @keyframes apearenes {
        from {
          opacity: 0;
          -webkit-transform: translate3d(0, 10px, 0);
          -moz-transform: translate3d(0, 10px, 0);
          -ms-transform: translate3d(0, 10px, 0);
          -o-transform: translate3d(0, 10px, 0);
          transform: translate3d(0, 10px, 0);
        }
        to {
          opacity: 1;
          -webkit-transform: translate3d(0, 0, 0);
          -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
          -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }

      .transition-default();
      background-color: white;
      margin: @elements-margin-base 0;
      border-radius: @tile-border-radius;
      padding: @tile-padding;

      @box-shadow-base: 0 1px 2px @box-shadow-color-base;
      -webkit-box-shadow: @box-shadow-base;
      -moz-box-shadow: @box-shadow-base;
      box-shadow: @box-shadow-base;

      @media @tablet {
        &:hover {
          @box-shadow-base: 0 2px 2px @box-shadow-color-base;
          -webkit-box-shadow: @box-shadow-base;
          -moz-box-shadow: @box-shadow-base;
          box-shadow: @box-shadow-base;
        }
      }

      .cover {
        .invisible();
        .coverage(@tile-border-radius);

        &.play {
          font-size: 40px;
          text-align: center;
          vertical-align: middle;
          color: white;

          .glyphicon {
            position: absolute;
            .absolute-center();
          }
        }
      }

      &:hover {
        .cover {
          .visible();
        }
      }

      .tile-header {
        margin-bottom: @tile-header-margin-bottom;
        .title {
          font-size: @tile-header-title-font-size;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }
        .rating {
          font-size: @tile-header-rating-font-size;
        }
      }

      .tile-content {
        position: relative;
      }
    }
  }
}
