@import url("variables.less");

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;

  body {
    line-height: @line-height-base;
    font-size: @font-size-base;
    background-color: @site-background-color;
    height: 100%;
    color: @site-color;

    @import url('kanji-pa-font');
    @import url('normalize');
    @import url('utils');
    @import url('header');
    @import url("slider");

    .main-container {
      position: relative;
      top: @container-top + @elements-margin-base + @border-thiknes-base;

      @import url('home.less');
    }
  }

}
