@import url("variables.less");

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;

  body {
    @import 'fonts/kanji-pa-font';
    @import 'fonts/Web-Serveroff';

    height: 100%;
    background-color: @site-background-color;
    color: @site-color;
    font-size: @font-size-base;
    font-family: 'clinica_proregular', sans-serif;
    line-height: @line-height-base;

    @import 'normalize';

    @import 'utils';

    @import 'header';

    @import "slider";

    .main-container {
      position: relative;
      top: @container-top;

      @import 'home';
    }
  }

}
