@import (reference) "variables";
@import (reference) "utils";

@slider-width-xs: 100%;
@slider-width-sm: 480px;
@slider-width-md: 640px;
@slider-width-lg: 800px;

@slider-height: 350px;
@slider-gutter: @gutter-base;

@slide-width-xs: floor(@slider-width-xs * .7);
@slide-width-sm: floor(@slider-width-sm * .8);
@slide-width-md: floor(@slider-width-md * .8);
@slide-width-lg: floor(@slider-width-lg * .8);

@slider-title-height: 30px;
@slider-title-font-size: 24px;
@slider-subtitle-height: 20px;
@slider-subtitle-font-size: 18px;
@slide-body-height-lg: floor(@slide-width-lg / 16 * 9);
@slide-body-height-md: floor(@slide-width-md / 16 * 9);
@slide-body-height-sm: floor(@slide-width-sm / 16 * 9);
@slide-img-width-lg: floor(@slide-body-height-lg / 9 * 16);
@slide-img-width-md: floor(@slide-body-height-md / 9 * 16);
@slide-img-width-sm: floor(@slide-body-height-sm / 9 * 16);

@slider-horizontal-padding-sm: 50px;
@slider-horizontal-padding-md: 90px;
@slider-horizontal-padding-lg: 120px;

@slider-items-transition: all .2s cubic-bezier(.44,.93,.6,.98);
@slider-items-transition-inverted: all .7s cubic-bezier(.29,.02,.3,.09);

@slider-background-color: darken(#5F818A, 10%);

#slide-heights() {
  height: @slide-body-height-sm;

  @media @desktop {
    height: @slide-body-height-md;
  }

  @media @desktop-lg {
    height: @slide-body-height-lg;
  }
}

.slider {
  display: block;
  position: relative;

  background: @slider-background-color;
  left: 0;
  right: 0;

  overflow: hidden;

  .shadows-inset(~'0 0 4px 1px fadeout(black, 50%)');

  padding-top: @slider-gutter / 2;
  padding-bottom: @slider-gutter / 2;

  .slider-body {
    width: @slide-width-sm;

    @media @desktop {
      width: @slide-width-md;
    }

    @media @desktop-lg {
      width: @slide-width-lg;
    }

    height: 100%;
    position: relative;
    .h-center();

    color: #fff;

    .slider-header {
      font-size: @slider-title-font-size;
      line-height: @line-height-base;

      .title {
        font-size: inherit;
        padding: ceil((@slider-title-height - @slider-title-font-size * @line-height-base) / 2) 0;
      }

      .subtitle {
        font-size: @slider-subtitle-font-size;
        padding: ceil((@slider-subtitle-height - @slider-subtitle-font-size * @line-height-base) / 2) 0;
        color: fadeout(#fff, 40%);
      }
    }

    .slider-items {
      position: absolute;

      width: @slide-width-sm;
      height: @slide-body-height-sm;

      @media @desktop {
        width: @slide-width-md;
        height: @slide-body-height-md;
      }

      @media @desktop-lg {
        width: @slide-width-lg;
        height: @slide-body-height-lg;
      }

      bottom: 0;

      .absolute-h-center();

      & > ul {
        position: relative;
        display: block;
        list-style: none;

        right: 0;
        -webkit-transform: translate3d(-@slide-width-md, 0, 0);
        -moz-transform: translate3d(-@slide-width-md, 0, 0);
        -ms-transform: translate3d(-@slide-width-md, 0, 0);
        -o-transform: translate3d(-@slide-width-md, 0, 0);
        transform: translate3d(-@slide-width-md, 0, 0);

        height: 100%;

        margin: 0;
        margin-left: -@slider-horizontal-padding-sm / 2;

        @media @desktop {
          margin-left: -@slider-horizontal-padding-md / 2;
          -webkit-transform: translate3d(-@slide-width-md, 0, 0);
          -moz-transform: translate3d(-@slide-width-md, 0, 0);
          -ms-transform: translate3d(-@slide-width-md, 0, 0);
          -o-transform: translate3d(-@slide-width-md, 0, 0);
          transform: translate3d(-@slide-width-md, 0, 0);
        }

        @media @desktop-lg {
          margin-left: -@slider-horizontal-padding-lg / 2;
          -webkit-transform: translate3d(-@slide-width-lg, 0, 0);
          -moz-transform: translate3d(-@slide-width-lg, 0, 0);
          -ms-transform: translate3d(-@slide-width-lg, 0, 0);
          -o-transform: translate3d(-@slide-width-lg, 0, 0);
          transform: translate3d(-@slide-width-lg, 0, 0);
        }

        padding: 0;

        white-space: nowrap;
        line-height: 1;
        vertical-align: middle;

        .transitions(@slider-items-transition);

        & > li {
          .noselect();

          position: relative;
          display: inline-block;

          height: 100%;
          width: @slide-width-sm;

          @media @desktop {
            width: @slide-width-md;
          }

          @media @desktop-lg {
            width: @slide-width-lg;
          }

          .transitions(@slider-items-transition-inverted);

          margin: 0 @slider-horizontal-padding-sm / 2;

          @media @desktop {
            margin: 0 @slider-horizontal-padding-md / 2;
          }

          @media @desktop-lg {
            margin: 0 @slider-horizontal-padding-lg / 2;
          }

          &.active {

            a.slider-item:after {
              .invisible();
            }
          }

          & > a.slider-item {
            position: relative;
            display: block;
            height: inherit;
            overflow: hidden;

            img {
              position: absolute;
              .absolute-center();
            }

            &:hover:after {
              background-color: fadeout(white, 85%);
            }

            &:after {
              content: '';
              display: block;
              .coverage();
              .visible();
              .transition-default();
              background-color: fadeout(white, 60%);
            }
          }
        }
      }
    }

    .slider-description {
      #slide-heights();

      overflow: hidden;
      text-overflow: ellipsis;
      color: black;
      position: relative;
      font-weight: 700;
      .clearfix();

      .cover {
        background-color: fadeout(black, 55%);
      }

      &:hover {
        .cover {
          .visible();
        }
      }

      .slider-description-right {
        position: absolute;
        padding: 5px;
        height: 100%;
        right: 0;
        width: 30%;
        background-color: fadeout(white, 60%);

        &:hover {
          .cover {
            .invisible();
          }
        }
      }
    }
  }

}