@import (reference) "variables";
@import (reference) "utils";

@slider-width-xs: 100%;
@slider-width-sm: 480px;
@slider-width-md: 640px;
@slider-width-lg: 800px;

@slider-height: 350px;
@slider-gutter: @gutter-base;

@slide-width-xs: floor(@slider-width-xs * .7);
@slide-width-sm: floor(@slider-width-sm * .8);
@slide-width-md: floor(@slider-width-md * .8);
@slide-width-lg: floor(@slider-width-lg * .8);

@image-ratio-sm: 16 / 9;

@slider-title-height: 30px;
@slider-title-font-size: 24px;
@slider-subtitle-height: 20px;
@slider-subtitle-font-size: 18px;
@slide-img-height-sm: floor(@slide-width-sm / @image-ratio-sm);
@slide-img-height-md: floor(@slide-width-md / @image-ratio-sm);
@slide-img-height-lg: floor(@slide-width-lg / @image-ratio-sm);
@slide-img-width-sm: @slide-width-sm;
@slide-img-width-md: @slide-width-md;
@slide-img-width-lg: @slide-width-lg;

@slider-horizontal-padding-sm: 50px;
@slider-horizontal-padding-md: 90px;
@slider-horizontal-padding-lg: 120px;

@slider-items-transition: all .2s cubic-bezier(.44, .93, .6, .98);
@slider-items-transition-inverted: all .7s cubic-bezier(.29, .02, .3, .09);

@slider-background-color: darken(#5F818A, 10%);

#slide-heights() {
  height: @slide-img-height-sm;
}

.slider {
  position: relative;
  right: 0;

  left: 0;
  display: block;
  overflow: hidden;

  padding-top: @slider-gutter / 2;

  padding-bottom: @slider-gutter / 2;
  background: @slider-background-color;

  .shadows-inset(~'0 0 4px 1px fadeout(black, 50%)');

  .slider-body {
    width: @slide-width-sm;

    position: relative;
    .h-center();

    color: #fff;

    .slider-items {
      position: absolute;
      bottom: 0;
      .absolute-h-center();

      width: inherit;
      height: @slide-img-height-sm;

      & > ul {
        position: relative;
        display: block;
        list-style: none;

        right: 0;

        height: inherit;

        margin: 0;
        margin-left: -(@slider-horizontal-padding-sm / 2);

        padding: 0;

        white-space: nowrap;
        line-height: 1;
        vertical-align: middle;

        .transitions(@slider-items-transition);

        & > li {
          .noselect();

          position: relative;
          display: inline-block;

          height: inherit;
          width: @slide-width-sm;

          .transited);

          margin: 0er-items-transition-invertions(@slid @slider-horizonta 2;

          &.acsm /l-padding-tive {

            a.slider-item:after {
              .invisible();
            }
          }

          & > a.slider-item {
            position: relative;
            display: block;
            height: inherit;
            overflow: hidden;

            img {
              position: absolute;
              .absolute-center();
            }

            &:hover:after {
              background-color: fadeout(white, 85%);
            }

            &:after {
              content: '';
              display: block;
              .coverage();
              .visible();
              .transition-default();
              background-color: fadeout(white, 60%);
             }
      }

       }
          } }

    .slider-description {
      #slide-heights();

      overflow: hidden;
      text-overflow: ellipsis;
      color: black;
      position: relative;
      font-weight: 700;
      width: inherit;
      height: inherit;

      .clearfix();

      .cover {
        background-color: fadeout(black, 55%);
      }

      &:hover {
        .cover {
          .visible();
        }
      }

      .slider-description-header {
        font-size: @slider-title-font-size;
        line-height: @line-height-base;

        .title {
          font-size: inherit;
          padding: ceil((@slider-title-height - @slider-title-font-size * @line-height-base) / 2) 0;
        }

        .subtitle {
          font-size: @slider-subtitle-font-size;
          padding: ceil((@slider-subtitle-height - @slider-subtitle-font-size * @line-height-       color: 0;
   t(#fff, 40%fadeoubase) / 2) );
        }
      }

      .slider-description-body {
        position: relative;
        height: @slide-img-height-sm;
        widows: inherit;
        overflow: hidden;

        .slider-description-right {
          position: absolute;
          padding: 5px;
          height: 100%;
          right: 0;
          width: 30%;
          background-color: fadeout(white, 60%);

          &:hover {
            .cover {
              .invisible();
            }
          }
        }

      }

    }
  }

}