@screen-lg: 1199px;
@screen-md: 991px;
@screen-sm: 767px;
@screen-xs: 479px;

@smartphone: ~"handled and (min-width: 480px)";
@tablet: ~"(min-width: 768px)";
@desktop: ~"(min-width: 992px)";
@desktop-lg: ~"(min-width: 1200px)";
@portrait: ~"(orientation: portrait)";
@landscape: ~"(orientation: landscape)";

@gutter-base: 20px;

//Color bases
@site-color-base: #166678;
@site-color: @site-color-base;
@site-background-color: #F0F0EF;
@header-background-color: white;

//Typography
@content-height-base: 20px;
@font-size-base: 14px;
@font-size-large: floor(@font-size-base * 1.25);
@font-size-small: ceil(@font-size-base * 0.8);
@line-height-base: unit(@content-height-base / @font-size-base);

@elements-margin-base: 15px;

//Borders
@border-color: fadeout(@site-color-base, 50%);
@border-light-color: fadeout(@border-color, 20%);
@border-thiknes-base: 1px;
@border-default: @border-thiknes-base solid @border-color;
@border-lighter: @border-thiknes-base solid @border-light-color;
@border-radius-base: 4px;

//Box shadow
@box-shadow-radius-base: 1px;
@box-shadow-blur-base: 7px;
@box-shadow-color-base: fadeout(darken(@site-color-base, 5%), 70%);
@box-shadow-base: 0 3px @box-shadow-blur-base @box-shadow-color-base;

@main-container-width: 100% - @gutter-base;

//Header
//Logo
@header-default-height: 50px;
@header-line-height-computed: 20px;
@header-default-content-height: 34px;
@header-default-font-size: @font-size-base;
@header-font-size-larger: @font-size-large;
@header-default-line-height: unit(@header-line-height-computed / @header-default-font-size) - 0.00000001;
@header-z-index-base: 999;
@header-logo-font: "Kanji PA", Helvetica, sans-serif;
@header-logo-font-size: floor(@font-size-large * 1.3);
@header-control-font-size: @font-size-base;

//Main screen tiles (home page)
@tile-container-width: @main-container-width;
@tile-border-radius: @border-radius-base;
@tile-padding: 5px;
@tile-header-margin-bottom: @tile-padding;
@tile-header-font-size: 20px;
@tile-header-title-font-size: @tile-header-font-size;
@tile-header-rating-font-size: @tile-header-font-size / 2;
@container-top: @header-default-height;